<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	 <configSections>
	 </configSections>
	 <connectionStrings>
    <!--<add name="AdventureConnectionString" connectionString="Data Source=ukexpfindev03\sqlexpress;Initial Catalog=Adventure;User ID=maskellweb;Password=maskellweb1" />-->
	 <!--<add name="AdventureConnectionString" connectionString="Data Source=squidge\sqlexpress;Initial Catalog=Adventure;User ID=maskellweb;Password=maskellweb1" />-->
	 </connectionStrings>
</configuration>