<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<!--<add name="AdventureConnectionString" connectionString="Data Source=ukexpfindev03\sqlexpress;Initial Catalog=Adventure;User ID=maskellweb;Password=maskellweb1" />-->
		<!--<add name="AdventureConnectionString" connectionString="Data Source=squidge\sqlexpress;Initial Catalog=Adventure;User ID=maskellweb;Password=maskellweb1" />-->
		<add name="AdventureConnectionString" connectionString="Integrated Security=SSPI;Persist Security Info=False;User ID=;Initial Catalog=Adventure;Data Source=(local);" />
	</connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
