<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
		 <add name="AdventureConnectionString" connectionString="Integrated Security=SSPI;Persist Security Info=False;User ID=;Initial Catalog=Adventure;Data Source=(local);" />
    </connectionStrings>
</configuration>