<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<appSettings>
		<add key="DefaultGameId" value="{2888acb4-4ae8-e011-b36b-005056c00008}"/>
		
	</appSettings>
	<connectionStrings>
		<add name="AdventureConnectionString" connectionString="Integrated Security=SSPI;Persist Security Info=False;User ID=;Initial Catalog=Adventure;Data Source=(local);" />
	</connectionStrings>
	 <system.web>
		  <compilation debug="true" targetFramework="4.0" />
	 </system.web>

  <!--<system.serviceModel>
	  <bindings>
		  <basicHttpBinding>
			  <binding name="BasicHttpBinding_IAdventureCommandDataRead" closeTimeout="00:01:00"
						  openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
						  allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
						  maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
						  messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
						  useDefaultWebProxy="true">
				  <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
						maxBytesPerRead="4096" maxNameTableCharCount="16384" />
				  <security mode="None">
					  <transport clientCredentialType="None" proxyCredentialType="None"
							realm="" />
					  <message clientCredentialType="UserName" algorithmSuite="Default" />
				  </security>
			  </binding>
			  <binding name="BasicHttpBinding_IAdventureGameDataRead" closeTimeout="00:01:00"
					openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
					allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
					maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
					messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
					useDefaultWebProxy="true">
				  <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
						maxBytesPerRead="4096" maxNameTableCharCount="16384" />
				  <security mode="None">
					  <transport clientCredentialType="None" proxyCredentialType="None"
							realm="" />
					  <message clientCredentialType="UserName" algorithmSuite="Default" />
				  </security>
			  </binding>
			  <binding name="BasicHttpBinding_IAdventureLocationDataRead" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
				  <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
						maxBytesPerRead="4096" maxNameTableCharCount="16384" />
				  <security mode="None">
					  <transport clientCredentialType="None" proxyCredentialType="None"
							realm="" />
					  <message clientCredentialType="UserName" algorithmSuite="Default" />
				  </security>
			  </binding>
		  </basicHttpBinding>
	  </bindings>
	  <client>
		  <endpoint address="http://localhost:60908/GameData.svc" binding="basicHttpBinding"
	 bindingConfiguration="BasicHttpBinding_IAdventureGameDataRead"
	 contract="GameDataService.IAdventureGameDataRead" name="BasicHttpBinding_IAdventureGameDataRead" />
		  <endpoint address="http://localhost:60908/CommandData.svc" binding="basicHttpBinding"
					 bindingConfiguration="BasicHttpBinding_IAdventureCommandDataRead"
					 contract="CommandData.IAdventureCommandDataRead" name="BasicHttpBinding_IAdventureCommandDataRead" />
		  <endpoint address="http://localhost:60908/LocationData.svc" binding="basicHttpBinding"
								bindingConfiguration="BasicHttpBinding_IAdventureLocationDataRead"
								contract="LocationDataService.IAdventureLocationDataRead"
								name="BasicHttpBinding_IAdventureLocationDataRead" />
	  </client>
  </system.serviceModel>-->
</configuration>
